body {
	margin:50px 0px; padding:0px;
	text-align:center;
	font: 11px verdana,arial,helvetica,sans-serif;
}

#page{
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;

}

span.verse_title{
	color: #333333;
	font: italic 900 1.8em/1 Georgia,"Times New Roman",Times,serif;
}

.verse{
	clear:both;
	margin-bottom: 20px;
	padding-top: 5px;
	border-bottom: 1px dashed #333;
	padding-bottom: 5px;
}

.last{
	border-bottom:0px;
}

.book{
	float:right;
	padding-bottom: 3px;
	font-style:normal;
}

a{
	text-decoration:none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

blockquote {
	font: 1.2em/1.6em Georgia, "Times New Roman", Times, serif;
	background: url(/static/images/close-quote.gif) no-repeat right bottom;
	padding-left: 18px;
	text-indent: -18px;
	line-height: 1.8;
	margin: 0 0 1em;
	font-style: italic;
}

blockquote:first-letter {
	background: url(/static/images/open-quote.gif) no-repeat left top;
	padding-left: 18px;
	font: italic 1.4em Georgia, "Times New Roman", Times, serif;
}

#footer{
	margin-top:10px;
}