<html>

	<head>
		<title>Versiculos Diarios</title>
		<link rel="stylesheet" href="/static/styles.css"/>
	</head>
	
	<body>
		<img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
		<div id="header">
			
		</div>
		<div id="page">
			<div id="verses">
			
				{% for verse in verses %}
				
				<div class="verse">
					<span class="verse_title">{{verse.title}}</span>
					<p class="verse_content">
						<blockquote>{{verse.content}}</blockquote>
						<br/><span class="book">{{verse.book}} | <a href="{{verse.sourceLink}}">{{verse.source}}</a></span>
					</p>
					
				</div>
				
				{%endfor%}
				<div class="verse">
					<span class="verse_title">TItulo do versiculo</span>
					<p class="verse_content">
						<blockquote>Tudo Posso Naquele que me fortalece</blockquote>
						<br/><span class="book">Livro 12:12 | <a href="#">Biblia On-line</a></span>
					</p>
					
				</div>
				<div class="verse last">
					<span class="verse_title">TItulo do versiculo</span>
					<p class="verse_content">
						<blockquote>Tudo Posso Naquele que me fortalece</blockquote>
						<br><span class="book">Livro 12:12 | <a href="#">Biblia On-line</a></span>
					</p>
					
				</div>
			</div>
		</div>
		<div id="footer">
			The code for this page is on <a href="https://github.com/fjunior87/versiculosdiarios">GitHub</a>
		</div>
	</body>
</html>